body {
	max-width: 480px;
	margin: 0px auto;
	padding: 0px;
	background: #ffffcc;
	color: #fff;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 16px;
}

.logo img {
    padding: 36px;
    max-width: 100px;
}

.banner {
	margin-top: 5%;
	background-color:#0d4a27;
	padding: 15%;
	border-radius: 40% 27% 74% 28% / 40% 43% 47% 52%;
	transition: border-width 2s linear;

}

.banner:hover, .banner:active {
	border-radius: 47% 25% 71% 39% / 49% 33% 47% 62%;
}

h1 {
	font-family: 'Oleo Script Swash Caps', cursive;
	font-size: 44px;
	line-height: 120%;
}

p {
	line-height: 120%;
}

footer {
	padding-top: 10%;
	padding-bottom: 36px;
}

span {
	color: #996633;
	font-size: 12px;
	font-weight: bold;
}

/* Mobile Styles */
@media only screen and (max-width: 600px) {
  body {
    max-width: 90%;
  }
}